
body {
    background-color: #f4f4f4;
    color: #333;
}


body.dark {
    background-color: #222;
    color: #f4f4f4;
}


nav {
    display: flex;
    background-color: #00ccff;
    padding: 10px;
    border-radius: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #000000;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

body.dark section {
    background-color: #333;
}

button {
    background-color: #cc1414;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #00ff2f;
}


form {
    display: flex;
}

input {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 20px;
}
